<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
        <title>Petition to Re-Open Jurassic Park</title>
    </head>
    <body>

        <header>
            {{#if loggedIn}}
            <img id="logo" src="/images/main.png" alt="">
            <nav>
                <a href="/profile/edit">3  Welcome {{first}}  3</a><a href="/petition">3  Petition  3</a><a href="/profile/edit">3  Edit Profile  3</a><a href="/logout">3  Logout  3</a>
            </nav>
            {{/if}}
            {{#if registration}}
            <img src="" alt="">
            <nav>
                <a href="/login">3  Login  3</a>
            </nav>
            {{/if}}
            {{#if loginPage}}
            <img src="" alt="">
            <nav>
                <a href="/registration">3  Register  3</a>
            </nav>
            {{/if}}
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            <span class="footer-text">
                <img src="\images\dino_left.png">Built with tiny hands
                <img src="\images\dino.png" alt="">
            </span>
            <div class="tinyhands">
                <img src="\images\tinyhands.gif" alt="">
            </div>
        </footer>
    </body>
</html>
