<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles.css">
        <title>Petition by Imad</title>
    </head>
    <body>

        <header>

        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            
        </footer>

    </body>
</html>
