
<div class="petition-text-container">
    <p class="petition-text">I, <span class="petition-name">{{first}} {{last}}</span>,
        demand that Sistema Nacional de Areas de Conservacion of Costa Rica allocate funds to
        re-open Jurassic Park on Isla Nublar. The mistakes made by John Hamm and his colleage Dennis
        Nedry, can be un-done based on todays automation technology.Our children need to have a place
        where they can experience Jurassic Era animals and witness fierce predators like Tyrannosaurus.</p>

</div>
<div class="input-container">
    <div class="error-messages">
        {{#if error}}
            <p class="error">Signature is required</p>
        {{/if}}
    </div>
    <span class="canvas-text">Please either use your mouse or touchscreen to sign.</span>
    <form class="input" method="POST">
       <!-- CANVAS -->
       <canvas id="canvas" width="610px" height="230px"></canvas>
       <br>
       <!--HIDDEN INPUTS -->
       <input id ="hiddeninput" type="hidden" name="signature">
       <input type="hidden" name="_csrf" value="{{csrfToken}}">

       <!-- buttons -->
       <div class="button-container">
           <button type= "button" id="resetsign" >Reset</button>
           <br>
           <button id="submit">Submit</button>
       </div>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script.js" charset="utf-8"></script>
