<h1>This petition is about something I haven't thought about.  But this is going to be a tag line.</h1>

<img id="main-image" src="/images/main.png" alt="">


<p class="petition-text">I, {{first}} {{last}}, demand that the Commisionser of Nature County allocate funds for a new park in the Adventure District.
    This district does not have any parks.  Our children need to have a place where they can experience nature and play outdoors.</p>
<br>
{{#if error}}
    <span class="error">Signature is required</span>
{{/if}}

<div class="input-container">
    <form class="input" method="POST">
       <!-- CANVAS -->
       <canvas id="canvas" width="610px" height="230px"></canvas>
       <br>
       <!--HIDDEN INPUTS -->
       <input id ="hiddeninput" type="hidden" name="signature">
       <input type="hidden" name="_csrf" value="{{csrfToken}}">

       <!-- buttons -->
       <div class="button-container">
           <button type= "button" id="resetsign" >Reset Signature</button>
           <br>
           <button id="submit">Submit</button>
       </div>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script.js" charset="utf-8"></script>
