<h1>This petition is about something I haven't thought about.  But this is going to be a tag line.</h1>

<img id="main-image" src="/images/main.png" alt="">

{{#if error}}
    <span class="error">Please enter a valid URL</span>
{{/if}}

<div class="input-container">
    <form class="input" method="POST">
        <!-- Input Fiels -->
       <input type="number" name="age" placeholder="Age">
       <br>
       <input type="text" name="city" placeholder="City">
       <br>
       <input type="text" name="homepage" placeholder="https://www.homepage.com">
       <!-- BUTTONS -->
       <input type="hidden" name="_csrf" value="{{csrfToken}}">

       <!-- buttons -->
       <div class="button-container">
           <button id="register">Save & Continue</button>
       </div>
    </form>
</div>
