<div class="input-container">
    <h1>Thanks for signing our petition</h1>
    <img id="main-image" src="/images/main.png" alt="">
    <p><a href="/petition/signers">See all {{totalNumSignatures}} Signatures</a></p>
</div>
