*{
    box-sizing: border-box;
    margin: 0;
    background-color: #f8d340;
}

@font-face {
 font-family: 'jurassic';
  src: url("/Jurassic Park.ttf");
}

body {
 display: flex;
 flex-direction: column;
}

header {
    font-family: 'jurassic';
    font-size: 36px;
    word-spacing: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

footer {

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: #f0f0f0;
    border: 3px solid black;
}
canvas:hover {
    cursor:url("/images/pen.png"), default;
}

a {
    color: #eb0b0b;
    text-decoration: none;
}

a:hover
{
     color:red;
     text-decoration:none;
     cursor:pointer;
}

 p {
     font-family: "jurassic";
     font-size: 36px;
     word-spacing: 5px;
     color: red;
     /* text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow; */
     font-size: 40px;
 }
.petition-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
}
 p.petition-text {
    text-align: center;
 }
 p.petition-thanks {
     color: black;
     font-size: 70px;
     text-align: center;
 }
 p.undersigned {
     color: black;
     font-size: 70px;
     text-align: center;
 }

 p.terms {
     text-align: center;
     font-family: 'Lacquer' ;
     font-size: 16px;
 }

 span.petition-name {
     font-size: 50px;
     text-decoration: underline;
 }
 span.see-all-number {
     font-size: 26px;
     font-family: 'Lacquer' ;
 }
 span.footer-text {
     font-size: 26px;
     font-family: 'Lacquer' ;
     position: fixed;
     padding: 10px;
     right:0;
     bottom: 0;
 }
 .tinyhands {
     width: 339px;
     height: auto;
     position: fixed;
     padding: 20px;
     right:0;
     bottom: 0;
     display:none;
 }
 span.footer-text:hover + .tinyhands {
     display: block;
 }

 span.canvas-text {
     font-family: "jurassic";
     font-size: 36px;
     word-spacing: 5px;
     color: black;
 }

#main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
img#logo {
    height: 200px;
    width: auto;
}

img.signed-image {
    border: 1px black dotted;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px white solid;
}
form {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
input {
    font-family: "jurassic";
    font-size: 36px;
    word-spacing: 5px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #eb0b0b;
    outline: 0;
    color: $white;
    padding: 7px 0;
    background: transparent;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.update-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    font-family: "jurassic";
    font-size: 36px;
    word-spacing: 5px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eb0b0b;
    border: none;
    color: #f8d340;
}
button:hover {
    background-color: black;
    color:  #eb0b0b;
    cursor: pointer;
}

.error {
    color: red;
    padding: 20px;
}

.overlay {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .9;
    z-index: 1;
}
p.overlay-text {
    display: block;
    text-align: justify;
    line-height: 30px;
    background-color: black;
    opacity: .9;
    z-index: 2;
    width: 1000px;
    font-size: 50px;
}
p.close {
    display: block;
    cursor: pointer;
    padding: 10px;
    background: #eb0b0b;
    color: #f8d340;
    border-radius: 20px;
}
p.close:hover {
    background: #f8d340;
    color: #eb0b0b;
}
